@model IEnumerable<BAIPetRegMobileApp.Api.Models.TblRegions>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PSGC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population2020)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSGC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population2020)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rcode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rcode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rcode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
